
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="row">
        <div class="row mb-3 col-12 ">
            <div class="col-12">
                <div class="card card-small ">
                    <div class="card-body">
                        <a class="btn btn-primary" th:href="@{/admin/noticeAdd}">添加信息 </a>
                        <table id="t1"></table>


                        <script>
                            operate=[];
                            generateTables('/api/admin/notice/list', 'Notice', false, 't1', operate);
                            operate.formatter = function (value, row, index) {
                                return [
                                    '<a class="detail" href="javascript:void(0)" title="详情">',
                                    '<i class="fa fa-info-circle"></i>',
                                    '</a>  ',
                                    '<a class="remove" href="javascript:void(0)"  title="删除">',
                                    '<i class="fa fa-trash"></i>',
                                    '</a>'
                                ].join('')
                            };
                            operate.events = {
                                'click .detail': function (e, value, row, index) {
                                    Turbolinks.visit("/admin/noticeEdit/" + row.noticeId);
                                },
                                'click .remove': function (e, value, row, index) {
                                    var r = confirm("是否删除")
                                    if(true){
                                    apiSubmit("/api/admin/notice/delete","delete",row.noticeId,function (xhr) {
                                        if(xhr.status===200) {
                                            showSuccessAlert("公告“" + row.noticeTitle + "”已删除");
                                            window.location = "/admin/notice";
                                        }
                                    })}
                                    else{
                                        window.location = "/admin/notice";
                                    }

                                }
                            };

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>