<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.index.title}">欢迎</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="row">
        <div class="row mb-3 col-12 ">
            <div class="col-12">
                <div class="card card-small ">
                    <div class="card-body">

                                <table id="t1"></table>


                        <script>
                            let operate=[];
                            operate.formatter = function (value, row, index) {
                                return [
                                    '<a class="like" href="javascript:void(0)" title="Like">',
                                    '<i class="fa fa-heart"></i>',
                                    '</a>  ',
                                    '<a class="remove" href="javascript:void(0)" title="Remove">',
                                    '<i class="fa fa-trash"></i>',
                                    '</a>'
                                ].join('')
                            };
                            operate.events = {
                                'click .like': function (e, value, row, index) {
                                    alert('You click like action, row: ' + JSON.stringify(row))
                                },
                                'click .remove': function (e, value, row, index) {
                                    apiSubmit("/api/admin/personal/delete/"+row.username,"delete",null,function (xhr) {
                                            if(xhr.status===200) showSuccessAlert("用户{1}已删除".format(row.username));
                                    })
                                }
                            };
                            generateTables('/api/admin/personal/list', 'Login', false, 't1', operate);


                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>