<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.index.title}">欢迎</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="row">
        <div class="row mb-3 col-12 ">
            <div class="col-12">
                <div class="card card-small ">
                    <div class="card-body">

                                <table id="t1"></table>


                        <script>
                            generateTables('/api/admin/userList/tables', 'Login', false, 't1',
                                function (value, row, index) {
                                var usrename = row.username;
                                return [
                                    '<a class="btn btn-primary" href="javascript:void(0)" >详情',
                                    '</a>  ',
                                    '<a class="btn btn-danger" th:href="@{/admin/deleteUSer/{usrename}}" >删除',
                                    '</a>'
                                ].join('')
                            });


                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>