<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>申请管理</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">申请列表</h3>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-12 ">
            <div class="card card-small ">
                <div class="card-header ">
                    全部申请
                </div>
                <div class="card-body">
                    <table id="table"></table>
                    <script>
                        operate = [];
                        operate.formatter = function (value, row, index) {
                            return [
                                '<a class="approve" href="javascript:void(0)" title="接受" style="color: green">' +
                                '<i class="material-icons">check_box</i></a>',
                                '<a class="reject" href="javascript:void(0)" title="拒绝" style="color: red">' +
                                '<i class="material-icons">do_not_disturb_on</i></a>',
                                '<a href="/web/hiring/' + row.hirId + '" title="职位详情" style="color: blue">' +
                                '<i class="material-icons">info</i></a>',
                                '<a href="/web/resume/' + row.resId + '" title="简历详情" style="color: mediumblue">' +
                                '<i class="material-icons">info_outline</i></a>'
                            ].join('')
                        };
                        operate.events = {
                            'click .approve': function (e, value, row, index) {
                                if (confirm("确定要接受这份申请？")) {
                                    let p = [];
                                    p.push(row);
                                    apiSubmit("/api/user/entrepreneurial/submission/APPROVE", "POST", JSON.stringify(p), function (xhr) {
                                        if (xhr.responseText === "success") {
                                            showSuccessAlert("操作成功", 700, function () {
                                                $("#table").bootstrapTable("refresh");
                                            });
                                        } else showFailAlert();
                                    })
                                }
                            },
                            'click .reject': function (e, value, row, index) {
                                if (confirm("确定要拒绝这份申请？")) {
                                    let p = [];
                                    p.push(row);
                                    apiSubmit("/api/user/entrepreneurial/submission/REJECT", "POST", JSON.stringify(p), function (xhr) {
                                        if (xhr.responseText === "success") {
                                            showSuccessAlert("操作成功", 700, function () {
                                                $("#table").bootstrapTable("refresh");
                                            });
                                        } else showFailAlert();
                                    })
                                }
                            }
                        };

                        generateTables('/api/user/entrepreneurial/submission/list', 'Submission', true, 'table', operate);
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>